<!-- Your HTML file -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
 
</head>
<body>
  <header> 
    <nav class="navbar">
      <a routerLink="/home" routerLinkActive="active">Home</a>
      <a routerLink="/about" routerLinkActive="active">About</a>
      <a routerLink="/blog" routerLinkActive="active">Blog</a>
      <a routerLink="/contact" routerLinkActive="active">Contact</a>
    </nav>
  </header>
  <router-outlet></router-outlet>
  
</body>
</html>
