ul {
    list-style: none;
    padding: 0;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  
  li {
    flex-basis: calc(23.33% - 20px); 
    margin: 9px;
    padding: 10px;
    border-radius: 10px;
    background-color: #eaeafc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
  }
  
  li p {
    margin: 5px 15px; 
    color: #333;
  }
  
  li:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15); 
  }
  
  li:active {
    transform: translateY(0); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }
  span{
    padding-left: 20px;
  }