@page
@*@model List<eCommerce.Models.Category>*@

<h1>Category List</h1>

<table class="table">
    <thead>
        <tr>
            <th>Category ID</th>
            <th>Name</th>
            <!-- Add additional columns if needed -->
        </tr>
    </thead>
    <tbody>
        @*@foreach (var category in Model)
        {
            <tr>
                <td>@category.Id</td>
                <td>@category.Name</td>
                <!-- Display additional data here -->
            </tr>
        }*@
    </tbody>
</table>
